# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
.venv/
env/
.env/
ENV/

# IDEs (Opcional, mas recomendado)
.vscode/
.idea/

# Environment variables (Sempre ignore arquivos com segredos)
.env
*.env

# Logs
*.log

# Arquivos de dados
*.xlsx
*.csv
*.parquet
*.json
*.sql
*.db